# MAT 328 - Final Project
### Tony Lu

---

This project uses the [Motor Vehicle Collision](https://data.cityofnewyork.us/Public-Safety/Motor-Vehicle-Collisions-Crashes/h9gi-nx95) dataset offered by [NYC Open Data](http://opendata.cityofnewyork.us/).

All data and values are dated March 2021 - the most recent date this notebook was executed. Executing this notebook at a later date may yield different results compared to what is already rendered in this notebook.

# Project Setup

### Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline
sns.set_theme(style='darkgrid')

### Download and load the data

In [2]:
# This might take awhile. It has 1.7 million rows after all.
raw_data = pd.read_csv('https://data.cityofnewyork.us/api/views/h9gi-nx95/rows.csv?accessType=DOWNLOAD')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df = raw_data.copy()

### Show the data

In [4]:
df.head()

   CRASH DATE CRASH TIME  ... VEHICLE TYPE CODE 4 VEHICLE TYPE CODE 5
0  12/04/2020      21:50  ...                 NaN                 NaN
1  12/12/2020      21:20  ...                 NaN                 NaN
2  11/08/2020       7:50  ...                 NaN                 NaN
3  12/18/2020       8:00  ...                 NaN                 NaN
4  11/12/2020       2:06  ...                 NaN                 NaN

[5 rows x 29 columns]

In [5]:
# Show size of the data
print(f'Rows: {df.shape[0]} | Columns: {df.shape[1]}')

Rows: 1759301 | Columns: 29

In [6]:
df.describe(include='all')

        CRASH DATE CRASH TIME  ... VEHICLE TYPE CODE 4  VEHICLE TYPE CODE 5
count      1759301    1759301  ...               24597                 6431
unique        3166       1440  ...                  74                   53
top     01/21/2014      16:00  ...               Sedan                Sedan
freq          1161      25440  ...                7025                 1899
mean           NaN        NaN  ...                 NaN                  NaN
std            NaN        NaN  ...                 NaN                  NaN
min            NaN        NaN  ...                 NaN                  NaN
25%            NaN        NaN  ...                 NaN                  NaN
50%            NaN        NaN  ...                 NaN                  NaN
75%            NaN        NaN  ...                 NaN                  NaN
max            NaN        NaN  ...                 NaN                  NaN

[11 rows x 29 columns]